<div class="myPromo container" id="khuyenMai">
    <h1><a href="#">Khuyến mãi</a></h1>
    <div class="row">
      <div class="col-md-3">
        <img src="../../../assets/img/promo-1.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="../../../assets/img/promo-2.jpg" alt="">
      </div>
    <div class="col-md-3">
      <img src="../../../assets/img/promo-3.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../../assets/img/promo-4.jpg" alt="">
    </div>
    <div class="col-md-3">
        <img src="../../../assets/img/promo-1.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="../../../assets/img/promo-2.jpg" alt="">
      </div>
    <div class="col-md-3">
      <img src="../../../assets/img/promo-3.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../../assets/img/promo-4.jpg" alt="">
    </div>
  </div>
  </div>