.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    height: 100%;
    margin: 2rem 5rem;
    button{
        background-color: orange;
        color: black;    
        font-size: 20px;
    }
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/img/logo.jpg');
    background-size: cover;
  }
  .card-sub{
    color: black;
    font-weight: bold;
  }
.btn-themMoi{
  margin-left: 2rem;
  margin-top: 1rem;
  display: block;
}
  