<!-- Button to Open the Modal -->

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title ml-6">{{movie.TenPhim}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body p-0">
             <!-- {{modalItem.Trailer}} -->
             <iframe width="717.5" height="500.5" src='https://www.youtube.com/embed/hnV9nOqry5k' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/hnV9nOqry5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            </div>            
          </div>
        </div>
      </div>
      
    