.modal-dialog{
    margin : 2.75rem 0 2.75rem 20rem;
}
.modal-content{
    width: 45rem;
    background: black;
}
.modal-header{
    background: black;
    border: none;
    color: black;
}
.modal-body{
    background: black;
}