<div class="row">
    <div class="col-md-4 aboutUs">
      <h5>Giới thiệu</h5>
      <ul>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Về chúng tôi</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Thỏa thuận sử dụng</li>
        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Chinh sách bảo mật</li>
      </ul>
    </div>
    <div class="col-md-4 gocDienAnh">
        <h5>Góc điện ảnh</h5>
        <ul>
            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Thể loại phim</li>
            <li><i class="fa fa-angle-right" aria-hidden="true"></i> Bình luận</li>
            <li><a pageScroll href="#tinTuc"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog điện ảnh</a></li>
          </ul>
    </div>
    <div class="col-md-4 socialArea">
        <h5>Kết nối</h5>
        <div class="social">
          <i class="fa fa-youtube" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>
  </div>
