<div class="container myNews" id="tinTuc">
    <h1 class="mt-4 mb-4"><a>Tin tức</a></h1>
    <div class="row">
      <div class="col-md-6">
        <h4><a href="#" style="text-decoration:none" class="title-comment" >Bình luận phim</a></h4>
        <div class="comment-film mt-3">
          <div class="row">
              <div class="col-md-5">
                  <img src="../../../assets/img/john-wick.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="col-md-7">
                  <h5>
                    <a href="#">[Review] John Wick 3 : Sự trở lại của 1 huyền thoại </a>
                  </h5>
                  <p>
                      <i class="fa fa-star" aria-hidden="true"></i>7.5/10 (200)
                  </p>
                  <p class="content-news">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia exercitationem minima in a nulla iste architecto quo recusandae dolorem?</p>
                </div>
          </div>
          
          <div class="row mt-3">
              <div class="col-md-5">
                  <img src="../../../assets/img/review-end-game.jpg" width="100%" height="100%" alt="">
                </div>
                <div class="col-md-7">
                  <h5>
                    <a href="#">[Review] Avenger - Endgame : Cái kết không thể nào tuyệt vời hơn  </a>
                  </h5>
                  <p>
                      <i class="fa fa-star" aria-hidden="true"></i> 7.5/10 (200)
                  </p>
                  <p class="content-news"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia exercitationem minima in a nulla iste architecto quo recusandae dolorem?</p>
                </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 blogDienAnh">
        <h4><a href="#" class="title-blog">Blog điện ảnh</a></h4>
        <div class="row mt-3 ">
            <div class="col-md-5">
                <img src="../../../assets/img/avenger-endgame.jpg" width="100%" height="100%" alt="">
              </div>
              <div class="col-md-7">
                <h5>
                  <a href="#">Vũ Trụ Điện Ảnh Marvel Sẽ Ra Sao Sau Avengers: Endgame?  </a>
                </h5>
                <p>
                    <i class="fa fa-eye" aria-hidden="true"></i> 1000 
                </p>
                <p class="content-blog">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia exercitationem minima in a nulla iste architecto quo recusandae dolorem?</p>
              </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-md-5">
                <img src="../../../assets/img/saoviet.jpg" width="100%" height="100%" alt="">
              </div>
              <div class="col-md-7">
                <h5>
                  <a href="#">Dàn Sao Việt Thích Thú Check-In Tại Galaxy Tràng Thi</a>
                </h5>
                <p>
                    <i class="fa fa-eye" aria-hidden="true"></i> 1000 
                </p>
                <p class="content-blog">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed officia exercitationem minima in a nulla iste architecto quo recusandae dolorem?</p>
              </div>
        </div>
      </div>
    </div>
  </div>