.detailFilm{
    .blurItem{
        position: relative;
        z-index: 100000;
        background:linear-gradient(to top,black);
        .itemFilm{
            position: absolute;
            top: 20%;
            left: 20%;
            .row{
                align-items: center;
                width: 50rem;
                .contentPhim{
                    color: white;
                    background-color: rgba($color: #000000, $alpha: 0.7);
                    padding: 1rem;
                    h2{
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                    h4{
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                    .btn-muaVe{
                        background-color: orange;
                        color: black;
                        width: 10rem;
                        font-size: 1.5rem;
                        margin: 1rem 0 1rem 6.5rem;
                    }
                }
            }
           img{
            width: 100%;
            height: 20rem;
           }
        }
        width: 100%;
        img{
            width: 100%;
            height: 35rem;
            box-shadow: 0.5rem 0.3rem 0.3rem black;
        }
    }
    .filmSchedule {
        .abc{
            margin: 1rem 0;
            margin-left: 23rem!important;
            .nav-item{
                .nav-link{
                    color: black;
                    font-size: 1.5rem;
                    &.active{
                        background-color: orange;
                    }
                }
            }
        }
        .infoPhim{
            background-color: black;
            color:white;
            margin-bottom: 2rem;
            padding:1rem;
        }
        
    }
}
@media screen and (max-width:414px)
{
    .detailFilm{
        .blurItem{
            position: relative;
            z-index: 100000;
            background:linear-gradient(to top,black);
            .itemFilm{
                position: absolute;
                top: 3%;
                left: 20%;
                .row{
                    align-items: center;
                    width: 19rem;
                    .contentPhim{
                        color: white;
                        background-color: rgba($color: #000000, $alpha: 0.7);
                        padding: 1rem;
                        left:12%;
                        width: 15rem;
                        h2{
                            margin-bottom: 1rem;
                            text-align: center;
                            font-size: 1.5rem;
                        }
                        h4{
                            margin-bottom: 1rem;
                            text-align: center;
                            font-size: 1rem;
                        }
                        .btn-muaVe{
                            background-color: orange;
                            color: black;
                            width: 5rem;
                            font-size: 1rem;
                            margin: 0rem 0 0rem 4rem;
                        }
                    }
                }
               img{
                width: 100%;
                height: 10rem;
               }
            }
            width: 100%;
            img{
                width: 100%;
                height: 25rem;
                box-shadow: 0.5rem 0.3rem 0.3rem black;
            }
        }
        .filmSchedule {
            .abc{
                margin: 1rem 0;
                margin-left: 2rem!important;
                .nav-item{
                    .nav-link{
                        color: black;
                        font-size: 1.5rem;
                        &.active{
                            background-color: orange;
                        }
                    }
                }
            }
            .infoPhim{
                background-color: black;
                color:white;
                margin-bottom: 2rem;
                padding:1rem;
            }
            
        }
    }
}